
{
  "settingsInheritedFrom": "temporalio/whitesource-config@main",
  "scanSettings": {
    "configMode": "EXTERNAL",
    "configExternalURL": "https://raw.githubusercontent.com/temporalio/sdk-java/master/whitesource.config",
    "enableReachability": true
  },
  "checkRunSettings": {
    "strictMode": "warning"
  },
  "gradle.ignoredConfigurations": ".*test.*"
}
