name: Continuous Integration
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  unit_test_edge:
    name: Unit test with in-memory test service [Edge]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        java-version: "19"
        distribution: "temurin"

    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v3
    
    - name: Run unit tests
      env:
        USER: unittest
        USE_DOCKER_SERVICE: false
      run: ./gradlew --no-daemon test -x checkLicenseMain -x checkLicenses -x spotlessCheck -x spotlessApply -x spotlessJava -P edgeDepsTest

  unit_test_jdk8:
    name: Unit test with docker service [JDK8]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        java-version: "11"
        distribution: "temurin"

    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v3

    
    - name: Start containerized server and dependencies
      run: |
        docker compose \
          -f ./docker/github/docker-compose.yaml \
          up -d temporal
    
    - name: Run unit tests
      env:
        USER: unittest
        TEMPORAL_SERVICE_ADDRESS: localhost:7233
        USE_DOCKER_SERVICE: true
      run: ./gradlew --no-daemon test -x checkLicenseMain -x checkLicenses -x spotlessCheck -x spotlessApply -x spotlessJava

  copyright:
    name:  Copyright and code format
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        java-version: "11"
        distribution: "temurin"

    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v3
    
    - name: Run copyright and code format checks
      run: ./gradlew --no-daemon checkLicenseMain checkLicenses spotlessCheck
